.explore {
  width: 500px;
  border-radius: 5px;
  font-size: 40px;
  margin:10px auto;
  display: block;
  font-weight: bolder;
}

.joinus {
  width: 200px;
  border-radius: 5px;
  font-size: 30px;
  margin:10px auto;
  display: block;
  font-weight: bold;
}

.login {
  width: 200px;
  border-radius: 5px;
  font-size: 30px;
  margin:10px auto;
  display: block;
  font-weight: bold;
}
