<% if(locals.message) { %>
  <p><%= message %></p>
<% } %>

<div class="backgroundimage">
    <div class="blackbox">
<div class="container logregpage">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">

<form method="POST" action="/register">
  <div class="form-group">
    <label for="fullName"></label>
    <input class="form-control" type="text" name="fullName" id="fullName" placeholder="Full name" required minlength="2">
  </div>
  <div class="form-group">
    <label for="username"></label>
    <input class="form-control" type="text" name="username" id="username" placeholder="Username" required>
  </div>
  <div class="form-group">
    <label for="email"></label>
    <input class="form-control" type="email" name="email" id="email" placeholder="Email address" required>
  </div>
  <div class="form-group">
    <label for="password"></label>
    <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
  </div>
  <div class="form-group">
    <label for="passwordConfirmation"></label>
    <input class="form-control" type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Confirm password" required>
  </div>

  <button class="btn btn-dark reglogbutton">Sign up</button>
</form>

</div>
</div>
</div>

</div>
</div>
</div>
