.titlenew {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold
}

.backgroundimage {
  position: relative;
  background: url('/images/imagetwo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.reglogbutton {
  height: 100%;
  width: inherit;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.blackbox {
  width: 600px;
  height: 100vh;
  // border: 2px solid rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  // opacity: 0.2;
  // z-index: 1; why doesn't it work with z-index and opacity?
}

.logregpage {
  max-width: 300px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  // border: 3px solid rgba(240, 173, 78, 1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1)!important;
  // opacity: 0.8;
  padding: 20px;
  // opacity: 0.99!important;
  // z-index: 2!important;
}
