<div class="mainbox">
  <%# <img class="backgroundimage" src="images/imagetwo.jpg" alt="imagetwo">%>
  <h1 class="homepagetitle">techXafrica</h1>
  <h2 class="homepagetext">The hottest start-ups of Africa</h2>
</div>
