<div class="mainbox">
  <%# <img class="backgroundimage" src="images/imagetwo.jpg" alt="imagetwo">%>
  <h1 class="homepagetitle">techXpartners</h1>
  <h2 class="homepagetext">New partners, new dynamics, new opportunites...</h2>
</div>
