<form method="POST" action="/startups">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
  </div>
  <div>
    <label for="description">Description</label>
    <input type="text" name="description" id="description" required>
  </div>
  <div>
    <label for="industry">Industry</label>
    <input type="text" name="industry" id="industry">
  </div>
  <div>
    <label for="founders">Founders</label>
    <input type="text" name="founders" id="founders" required>
  </div>
  <div>
    <label for="date">Date</label>
    <input type="number" name="date" id="date" required>
  </div>
  <div>
    <label for="country">Country</label>
    <input type="text" name="country" id="country" required>
  </div>
  <div>
    <label for="vision">Vision</label>
    <input type="text" name="vision" id="vision" required>
  </div>
  <div>
    <label for="mission">Mission</label>
    <input type="text" name="mission" id="mission" required>
  </div>
  <div>
    <label for="image">Image</label>
    <input type="text" name="image" id="image" required>
  </div>

  <button class="button">Add Startup</button>
</form>
