@import "bootstrap-override";

* {
  font-family: serif;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

//homepage

.homepagerow {
  // border: 20px solid blue;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5)!important;
  border-top: 5px solid white;
}

.homepagetext {
  width: 1000px;
  height: 500px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.header {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}

.subheader {
  margin: 30px;
  text-align: center;
  font-weight: 500;
}

.buttonsbox {
  margin-top: 10px;
}

.joinus {
  width: 200px;
  border-radius: 5px;
  // height: 100%;
  font-size: 30px;
  margin:10px auto;
  display: block;
  font-weight: bold;
}

.buttonsboxlogin {
  margin-top: 20px;
}

.login {
  width: 200px;
  border-radius: 5px;
  // height: 100%;
  font-size: 30px;
  margin:10px auto;
  display: block;
  font-weight: bold;
}

.partners {
  // border: 5px solid green;
  width: 100%;
  height: 400px;
}

.partnerstitle {
  color: rgba(0, 0, 0, 0.5)!important;
  text-align: center;
  height: 100px;
  font-weight: bold;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.partnersbar {
  width: 50%;
  height: 5px;
  border: 0;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.5)!important;
  color: rgba(0, 0, 0, 0.5)!important;
}

.logopartners {
  margin: auto;
  max-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  // display: table-cell;
  // vertical-align: middle;
}




//HOMEPAGE WITH CONTAINER

homepagecont {
  width: 100%;
}

.partnershipbox {
  width: 100%;
  height: 100px;
  border: 10px solid red;
}

.asideright {
  position: relative;
  // border: 10px solid green;
  background-color: rgba(0, 0, 0, 0.7);
  float: right;
  width: 65%;
  height: 100vh;
}

.asideleft {
  position: relative;
  // border: 10px solid red;
  background-color: rgba(0, 0, 0, 0.1);
  // border-top: 10px solid white;
  float: left;
  width: 35%;
  height: 100vh;
}

.catchbox {
  position: absolute;
  // border-top: 10px solid white;
  width: 100%;
  height: 70%;
}

//HOMEPAGE

.mainbox {
  position: relative;
  background: url('/images/imagefive.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.homepagetitle {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  color: black;
}

// .homepagetext {
//   position: absolute;
//   left: 50%;
//   transform: translate(-50%);
//   margin-top: 500px;
//   font-size: 50px;
//   color: black;
//   width: 100%;
//   text-align: center;
// }

.partnersbox {
  position: absolute;
  // border: 5px solid pink;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 30%;
  bottom: 0;
}

//OUR PARTNER

.partnerstitle {
  color: white;
  text-align: center;
}


//STARTUPS PAGE

.startupname {
  width: inherit;
  margin-bottom: 10px;
  font-size: 1.5rem;
  // text-align: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.centre {
  height: 100%;
  width: inherit;
  margin: auto;
  text-align: center;
}

.description {
  margin: 20px 0;
  text-align: justify;
  font-weight: lighter;
  font-size: 1.2rem;
}

.seemore {
  margin: auto 0;
  float: right;
  color: white;
}

.startupblock {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  // border: 3px solid rgba(240, 173, 78, 1);
  // border: 1px solid black;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(238, 240, 243, 1);
  background-color: white;
}

.bodybackground {
  position: relative;
  // background: url('/images/imagetwo.jpg') repeat center center fixed;
  background-color: rgba(0, 0, 0, 0.1)!important;
  background-size: cover;
  // height: 100vh;
}

.startuplogo {
  max-height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview {
  margin-top: 30px;
}

// DETAILED STARTUP PAGE

.startupnamepage {
  width: inherit;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.logo {
  max-width: 100%
}

hr {
    display: block;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border: 1px solid black;
}

#startupheader {
  margin-top: 30px;
}

#startupdata {
  margin-top: 30px;
}

.marginbottom {
  margin-bottom: 30px;
}

.bold {
  font-weight: 900;
}

.asidedata {
  margin-bottom: 30px;
  padding-left: 50px;
}

#leavecomments {
  margin-top: 50px;
}

.commentcontent {
  border-radius: 5px;
  padding: 5px;
  font-weight: lighter;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.commentsmargin {
  margin: 20px 0;
}

.floatleft {
  float: left;
}

.floatright {
  margin: 0 auto;
  width: 100%
}

#changecontent {
  margin: 30px 0;
}

//add startup

.titlenew {
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}

.mainnewstartup {
  margin: 20px auto;
}

//login page

.titlenew {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold
}

.backgroundimage {
  position: relative;
  background: url('/images/imagetwo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.reglogbutton {
  height: 100%;
  width: inherit;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.blackbox {
  width: 600px;
  height: 100vh;
  // border: 2px solid rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  // opacity: 0.2;
  // z-index: 1; why doesn't it work with z-index and opacity?
}

.logregpage {
  max-width: 300px;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  // border: 3px solid rgba(240, 173, 78, 1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1)!important;
  // opacity: 0.8;
  padding: 20px;
  // opacity: 0.99!important;
  // z-index: 2!important;
}
