@import "bootstrap-override";
@import "partials/buttons";
@import "pages/homepage";
@import "pages/startupspage";
@import "pages/onestartup";
@import "pages/addstartup";
@import "pages/logandreg";

* {
  font-family: serif;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
